:root {
  --color-primary: #000000;
  --color-secondary: #dd0000;
  --color-additional: #ffce00;
  --app-info: #3f51b5;
  --app-success: #00c051;
  --app-danger: #ff4444;
  --app-warning: #ffbb33;
  --app-secundario: #1e1e1e;
  --app-darkgray: #565656;
  --app-primary: #0093e9;
  --app-secondary: #003959;
  --app-primary-light: #2699fb;
  --app-yellow: #d9ad16;
  --app-brown: #8c5000;
  --app-red: #d94c16;
}
